@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*reseteo inicial*/
*{
    margin: 0;
    padding: 0;
}

/*modificaciones propias del body*/
body{
    font-family: Protest Riot;
     color: rgb(29, 28, 28);
}
/*estilos header*/
.bg-navar{
    background-color: rgb(75, 75, 245);

}
.font_color{
    color: rgb(247, 20, 20);

}
.contenedor{
    height: 90vh;
    .fondo{
        background-image: url(../assets/img/bandera612x612.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fuente{
        font-size: 10vh;
    }
    .margen_personalizado{
        padding-top:10vh;
        font-size:10vh;
    }
}
.fuente-sponsor{
   margin-top: 15vh;
    font-size: 10vh;
    color: rgba(39, 39, 240, 0.904);
}
.fuente-sponsor1{
    font-size: 5vh;
}
.bg-primary1{
    color: rgb(247, 23, 23);
}



