@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*reseteo inicial*/
*{
    margin: 0;
    padding: 0;
}

/*modificaciones propias del body*/
body{
    font-family: Protest Riot;
     color: rgb(29, 28, 28);
}
.bg-navar{
    background-color: rgb(75, 75, 245);
}
.font_color{
    color: rgb(247, 20, 20);
}
.img_fondo{
    background-image: url(../assets/img/bandera612x612.jpg);
}
.color-fuente{
    color: white;
}