.card-body{
    /* background-color: rgba(5, 5, 248, 0.973);*/
    /*background-image: url(../assets/img/dospalosdehockey.jpg);*/
    background-image: url(../assets/img/palosandres1.jpg);
   }
   .clubfondo{
     background-image: url(../assets/img/palotarjetas.jpg);
   }
   .colorelclub{
     color:rgb(250, 248, 248);
   }
   .p{
    line-height: 2rem;
  }