@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

/*reseteo inicial*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


/*modificaciones propias del body*/
body{
    padding: 0;
    font-family: Protest Riot;
    color: rgb(29, 28, 28);
}
.row{
  margin: 0;
}
/*estilos header*/
.bg-navar{
    background-color: rgb(75, 75, 245);

}
.font_color{
    color: rgb(247, 20, 20);

}
.contenedor{
    height: 80vh;
    width:100%;
    background-image: url(../assets/img/bandera612x612.jpg);
    background-position: center;
    background-size:cover;
    object-fit: cover;
}

/*animacion letras de la bandera*/
.tracking-in-contract-bck-top {
	-webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-top {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
}

.fuente-sponsor{
   margin-top: 15vh;
    font-size: 10vh;
    color: rgba(39, 39, 240, 0.904);
}
.fuente-sponsor1{
    font-size: 5vh;
}
.text-light1{
  color: rgb(8, 8, 8);
}
.bg-primary1{
    color: rgb(247, 23, 23);
}
.tarjetas{
    object-fit: cover;
}

.btn-outline-primary{
    color:rgb(245, 103, 103);
    border-radius: 15px;  
}

.footefondo{
    background-color: rgb(167, 147, 240);
}

.colorfondo{
    background-color:rgb(75, 75, 245);
}
.rounded-circle1{
    border-radius: 90px;
}
.card-body{
 /* background-color: rgba(5, 5, 248, 0.973);*/
 background-image: url(../assets/img/dospalosdehockey.jpg);
}
.clubfondo{
  background-image: url(../assets/img/palotarjetas.jpg);
}
.colorelclub{
  color:rgb(250, 248, 248);
}
.imgtam{
  width: 100px;
  height: 100px;
}
/*el club */
.p{
  line-height: 2rem;
}

.map{
  
  width: 250px;
}
