@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import "body";
@import "barranav";
@import "bodyindex";
@import "categorias";
@import "elclub";
@import "footer";
@import "utilitarios";
@import "mixins";

/*reseteo inicial*/
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}